<ion-modal-view>
<ion-header-bar class="bar-calm flat">
	<h1 class="title">Configuración del sensor</h1>
	<ion-buttons left>
		<button class="button button-clear icon ion-android-arrow-back" ng-click="cerrarSensor()"></button>
	</ion-buttons>
</ion-header-bar>
<form name="frmSensor">
	<ion-content class="has-header padding">
	<div class="list-inset">
	  <label class="item item-input item-stacked-label">
	  	<span class="input-label">Nombre</span>
	    <input type="text" placeholder="nombre" ng-model="sensor.nombre">
	  </label>
	  <label class="item item-input item-select">
	    <div class="input-label">
	    Tipo sensor
	    </div>
	    <select ng-model="sensor.tipo" ng-change="selTipoSensor()" id="tipoSensor">
	      <option ng-repeat="tipo in tipos" value="{{tipo.id}}">{{tipo.nombre}}</option>
	    </select>
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">GPIO</span>
	    <input type="number" placeholder="gpio" ng-model="sensor.gpio">
	  </label>
	  <label class="item item-input item-stacked-label">
	  	<span class="input-label">Tópico</span>
	    <input type="text" placeholder="topico" ng-model="sensor.topico">
	  </label>
	  <label class="item item-input item-stacked-label">
	  	<span class="input-label">Atributo</span>
	    <input type="text" placeholder="atrib" ng-model="sensor.atributo">
	  </label>
	  <label class="item item-input item-stacked-label">
	  	<span class="input-label">Periodicidad (segs)</span>
	    <input type="number" placeholder="periodicidad" ng-model="sensor.periodicidad">
	  </label>
	</div>
	</ion-content>
</form>
</ion-modal-view>