<ion-view title="Android Sensor" cache-view="false">
  <style>
  .boton-centrado
  {
	  margin-left: 25%;
		margin-right: 25%;
		width: 50% !important;
  }
	</style>
	<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="mostrarMenu($event)">
      <i class="icon ion-android-more-vertical"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
		<div class="list">
		  <center><button class="button button-block boton-centrado {{ estado.servicio ? 'button-assertive' : 'button-positive'}}" ng-click="iniciarDetener()">{{ estado.servicio ? "Detener": "Iniciar"}}</button></center>
		  <ion-item class="item-divider">
			Estado
			</ion-item>
			<ion-toggle ng-model="estado.mqtt" ng-disabled="true">MQTT</ion-toggle>
		  <ion-toggle ng-model="estado.arduinoCon" ng-disabled="true">Arduino conectado</ion-toggle>
		  <ion-toggle ng-model="estado.arduinoIni" ng-disabled="true">Arduino inicializado</ion-toggle>
			<ion-item class="item-divider">
			Sensores definidos
			</ion-item>
			<ion-item class="item-icon-left" ng-repeat="sensor in sensores">
				<i class="icon {{sensor.icono}}"></i>
				<h2>{{sensor.nombre}}</h2>
				GPIO{{sensor.gpio}} / {{sensor.periodicidad}} segundos
			</ion-item>
		</div>
	</ion-content>
</ion-view>