<ion-view title="Android Sensor" cache-view="false">
  <style>
  .boton-centrado
  {
	  margin-left: 25%;
		margin-right: 25%;
		width: 50% !important;
  }
  .spinner svg {
	  width: 16px !important;
	  height: 16px !important;
  }
	</style>
	<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="mostrarMenu($event)">
      <i class="icon ion-android-more-vertical"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
		<div class="list">
		  <center><button class="button button-block boton-centrado {{ conectando ? 'button-energized' : (estado.servicio ? 'button-assertive': 'button-positive') }}" ng-click="iniciarDetener()">{{ conectando ? 'Cancelar' : (estado.servicio ? 'Detener': 'Iniciar') }}</button></center>
		  <ion-item class="item-divider">
			Estado
			</ion-item>
			<ion-toggle ng-model="estado.mqtt" ng-disabled="true">
			<ion-spinner icon="ios" class="spinner-positive" ng-show="conectando && !estado.mqtt"></ion-spinner>
			MQTT
			</ion-toggle>
		  <ion-toggle ng-model="estado.arduinoCon" ng-disabled="true">
		  <ion-spinner icon="ios" class="spinner-positive" ng-show="conectando && !estado.arduinoCon"></ion-spinner>
		  Arduino conectado
		  </ion-toggle>
		  <ion-toggle ng-model="estado.arduinoIni" ng-disabled="true">
		  <ion-spinner icon="ios" class="spinner-positive" ng-show="conectando && !estado.arduinoIni"></ion-spinner>
		  Arduino inicializado
		  </ion-toggle>
			<ion-item class="item-divider">
			Sensores definidos
			</ion-item>
			<ion-toggle class="item-icon-left" ng-repeat="sensor in sensores" ng-model="sensor.activo">
				<i class="icon {{sensor.icono}}"></i>
				<h2>{{sensor.nombre}}</h2>
				{{sensor.gpio == -1 ? "SIN GPIO" : "GPIO" + sensor.gpio}} / {{sensor.periodicidad}} segundos
			</ion-toggle>
		</div>
	</ion-content>
</ion-view>